<%- include('partials/header')  %> 


<div class='box-container'>
	<div class="form-body1">
    <h1 class="transfer1">Transferring From : </h1>
    <h3>Customer Name : <%= fromCustomer.name %></h3>
    <h3>balance = <%= fromCustomer.balance %></h3>  

    <h1 class ='transfer1'>Transferring To : </h1>
    <h3>Customer Name : <%= toCustomer.name %></h3>
    <h3>balance = <%= toCustomer.balance %></h3>
	</div>

<div class="form">
    <form action="/view/<%= fromCustomer._id %>/<%= toCustomer._id %>?_method=PUT" method="POST">
    <label for="balance">No. of balance to be transferred :</label>
    <br>
    <input type="number" id="credit" name="credit" placeholder=""
		   value="">
    <br>
    <button class="transfer2-btn">Transfer</button>
    </form>
</div>

</div>
	

<%- include('partials/footer')  %> 
